@model KategoriViewModels

@{
    ViewData["Title"] = "Kategori Penyakit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #btnAdd {
        margin-left: 20px;
        margin-top: -1px;
    }
</style>

<h2>Kategori Penyakit</h2>
<hr />
<div class="row">
    <div class="col-sm-5">
        <form id="AddForm" asp-action="Create">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nama</label>
                    <div class="col-md-10">
                        <input asp-for="KategoriPenyakit" type="hidden" class="form-control" />
                        <input asp-for="NamaKategori" class="form-control" />
                        <span asp-validation-for="NamaKategori" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button id="btnAdd" type="button" onclick="Add()" class="btn btn-success"><i class="fa fa-plus"></i> Tambah</button>
                    <button id="btnEdit" type="button" onclick="Edit()" class="btn btn-success hidden"><i class="fa fa-edit"></i> Ubah</button>
                    <button type="button" onclick="cancel()" class="btn btn-danger"><i class="fa fa-refresh"></i> Batal</button>
                </div>
            </div>
        </form>
    </div>
    <div id="Table" class="col-sm-7">
        <table class="table dataTable table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        Kategori Penyakit
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Kategoris)
                {
                    <tr>
                        <td>
                            @item.NamaKategori
                        </td>
                        <td>
                            <a class="btn btn-warning GetEdit" data-id="@item.KategoriPenyakit"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger GetDelete" data-id="@item.KategoriPenyakit"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




@section scripts{
    <script>
        var edit = false;
        $('.dataTable').DataTable( {
            language: {
        processing:     "Sedang memproses...",
        search:         "Cari&nbsp;:",
        lengthMenu:    "Tampilkan _MENU_ entri",
        info:           "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
        infoEmpty:      "Menampilkan 0 sampai 0 dari 0 entri",
        infoFiltered:   "(disaring dari _MAX_ entri keseluruhan))",
        infoPostFix:    "",
        loadingRecords: "Sedang memuat...",
        zeroRecords:    "Tidak ditemukan data yang sesuai",
        emptyTable:     "Tidak ada data yang tersedia pada tabel ini",
        paginate: {
            first:      "Pertama",
            previous:   "<<",
            next:       ">>",
            last:       "Terakhir"
        },
        aria: {
            sortAscending:  ": aktifkan untuk mengurutkan kolom dalam urutan menaik",
            sortDescending: ": aktifkan untuk mengurutkan kolom dalam urutan menurun"
        }
    }
} );
        function Add() {
            $.ajax({
                type: "POST",
                url: "/admin/CreateK/",
                data: $('#AddForm').serialize(),
                success: function (data) {
                    if (data.error) {
                        alert(data.errorMsg);
                    } else {
                        $('#AddForm')[0].reset();
                        TableRefresh(); alert('Data berhasil ditambah');
                    }
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan ketike mencoba untuk koneksi basis data.');
                }
            });
        }
        function Edit() {
            $.ajax({
                type: "POST",
                url: "/admin/EditK/",
                data: $('#AddForm').serialize(),
                success: function (data) {
                    if (data.error) {
                        alert(data.errorMsg);
                    } else {
                        $('#btnEdit').addClass('hidden');
                        $('#btnAdd').removeClass('hidden');
                        $('#AddForm')[0].reset();
                        TableRefresh();
                    }
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan ketike mencoba untuk koneksi basis data.');
                }
            });
        }
        function cancel() {
            $('#AddForm')[0].reset();
            if (edit) {
                $('#btnEdit').addClass('hidden');
                $('#btnAdd').removeClass('hidden');
            }
        }
        function TableRefresh() {
            $.ajax({
                type: "GET",
                url: "/admin/KategoriTable/",
                success: function (data) {
                    $('#Table').html(data);
                    $('.dataTable').DataTable({
                        dom: '<"top"f>rt<"row"<"col-sm-5"i><"col-sm-7"p>>',
                        searchHighlight: true
                    });
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan ketike mencoba untuk koneksi basis data.');
                }
            });

        }
        $(document).on('click', '.GetDelete', function () {
            var item = $(this);
            if (confirm('Are you sure want to delete?'))
                $.ajax({
                    type: "POST",
                    url: "/admin/DeleteK/" + item.data('id'),
                    success: function (data) {
                        if (data.error) { } else {
                            alert('Deleted');
                            TableRefresh();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Terjadi kesalahan ketike mencoba untuk koneksi basis data.');
                    }
                });

        });
        $(document).on('click', '.GetEdit', function () {
            var item = $(this);
            $.ajax({
                type: "GET",
                url: "/admin/GetEditK/" + item.data('id'),
                success: function (data) {
                    edit = true;
                    $('#KategoriPenyakit').val(data.KategoriPenyakit);
                    $('#NamaKategori').val(data.namaKategori);
                    $('#btnEdit').removeClass('hidden');
                    $('#btnAdd').addClass('hidden');
                },
                error: function (xhr, status, error) {
                    alert('Terjadi kesalahan ketike mencoba untuk koneksi basis data.');
                }
            });

        });
        $(document).ready(function () {
            $('a[href="/Admin/Kategori"]').addClass('white')
            $('.dataTable').DataTable({
                dom: '<"top"f>rt<"row"<"col-sm-5"i><"col-sm-7"p>>',
                searchHighlight: true
            });
        });

    </script>
}