@model List<Kategori>

@{Layout = "";}

<table class="table dataTable table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Nama Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
                {
            <tr>
                <td>
                    @item.NamaKategori
                </td>
                <td>
                    <a class="btn btn-warning GetEdit" data-id="@item.KategoriPenyakit"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger GetDelete" data-id="@item.KategoriPenyakit"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
                }
    </tbody>
</table>
