@{
    ViewData["Title"] = "Kontak";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jl. Pulo Asem Utara I No. 12<br />
    DKI Jakarta, Indonesia 13220<br />
    <abbr title="Phone">P:</abbr>
    0811-2818-184
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:me@fabrianivan.id">me@fabrianivan.id</a><br />
</address>
